<h1>Room {{ room.code }}</h1>

<h2>Players</h2>

<ul>
{% for player in players %}
    <li>{{ player.user.username }}</li>
{% endfor %}
</ul>

<form method="POST" action="{% url 'start_game' room.code %}">
    {% csrf_token %}
    <button> Start Game </button>
</form>

<div id="chat-log"></div>
<input id="chat-message-input" type="text"/>
<button id="chat-send"> Send </button>

<script>

const roomCode = "{{ room.code }}";
const socket = new WebSocket("ws://" + window.location.host + "/ws/chat/" + roomCode + "/");

socket.onmessage = function(e) {
    const data = JSON.parse(e.data);
    document.getElementById("chat-log").innerHTML += "<p>" + data.message + "</p>";
};

document.getElementById("chat-send").onclick = function() {
    const input = document.getElementById("chat-message-input");
    socket.send(
        JSON.stringify({message: input.value})
    );

    input.value = "";
};

</script>