<h1>Game {{ game.id }}</h1>

<p>Status: {{ game.status }}</p>

<p>Current Round: {{ game.current_round }} / {{ total_rounds }}</p>

{% if current_round %}
    <p>Drawer:{{ current_round.drawer.username }}</p>
    {% if request.user == current_round.drawer %}
        <p>Word: {{ current_round.word.text }}</p>
    {% else %}
        <p>Word: 
            {% for letter in current_round.word.text %}
                <span>_</span>
            {% endfor %}
        </p>
    {% endif %}
{% endif %}

{% if game.status == "FINISHED" %}
<hr>

<h1>GAME OVER</h1>

{% endif %}

<h2>Leaderboard</h2>
<table border="1">
    <tr>
        <th>Rank</th>
        <th>Player</th>
        <th>Score</th>
    </tr>

    {% for score in leaderboard %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ score.player.username }}</td>
        <td>{{ score.score }}</td>
    </tr>
    {% endfor %}
</table>

<hr>

<h2>Round History</h2>
<table border="1">
    <tr>
        <th>Round</th>
        <th>Drawer</th>
        <th>Word</th>
        <th>Ended</th>
    </tr>

    {% for round in rounds %}
    <tr>
        <td>{{ round.round_number }}</td>
        <td>{{ round.drawer.username }}</td>
        {% if round.ended_at %}
            <td>{{ round.word.text }}</td>
        {% else %}
            <td> In progress </td>
        {% endif %}
        <td>{{ round.ended_at }}</td>
    </tr>
    {% endfor %}
</table>

<hr>

<form method="POST" action="{% url 'next_round' game.id %}">
    {% csrf_token %}
    <button>End Round</button>
</form>

<form method="POST" action="{% url 'test_guess' game.id %}">
    {% csrf_token %}
    <button>
        Simulate Correct Guess
    </button>
</form>

<canvas
    id = "drawing-board"
    width = "800"
    height = "500"
    style = "border: 1px solid black;"
></canvas>

<div id="chat-log"></div>
<input id="chat-message-input" type="text"/>
<button id="chat-send"> Send </button>

<script>

    const roomCode = "{{ game.room.code }}";
    const socket = new WebSocket("ws://" + window.location.host + "/ws/chat/" + roomCode + "/");
    
    socket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        // --- Check for system commands ---
        if (data.command === "reload_page") {
            window.location.reload(); 
            return; // Stop running the rest of the script
        }
        
        const chatLog = document.getElementById("chat-log");
        
        if (data.event === "chat_message"){
            if(data.message === "correct_guess"){
                chatLog.innerHTML += "<p style='color: green; font-weight: bold;'>🎉 " + data.username + " guessed the word!</p>";
            }
            else{
                chatLog.innerHTML += "<p><strong>" + data.username + ":</strong> " + data.message + "</p>";
            }
        }
        
    };
    
    document.getElementById("chat-send").onclick = function() {
        const input = document.getElementById("chat-message-input");
        socket.send(JSON.stringify({
            type: "chat_message",
            message: input.value
        }));
        
        input.value = "";
    };
</script>